<footer class="footer">
  <h2 class="hide">서비스 이용정보</h2>
  <div class="footer_inner">
    <div class="footer__block">
      <div class="footer__block--info ">
        <ul class="info__policy">
          <li class="info__policy--item">
            <!--info__policy--list-->
            <a href="/" class="info__link">
              이용약관
            </a>
          </li>
          <!--//info__policy--list-->
          <li class="info__policy--item">
            <a href="/" class="info__link info__link--bold">
              옥션 개인정보처리방침
            </a>
          </li>
          <li class="info__policy--item info__link--bold">
            <a href="/" class="info__link">
              G마켓 개인정보처리방침
            </a>
          </li>
        </ul>
        <ul class="info__copyright">
          <li class="info__copyright--item">
            <address class="info__link">
              사업자등록번호 : 220-81-83676
            </address>
          </li>
          <li class="info__copyright--item">
            <address class="info__link">
              통신판매업신고 : 강남 10630
            </address>
          </li>
          <li class="info__copyright--item">
            <address class="info__link">
              업무집행자 : 변광윤
            </address>
          </li>
          <li class="info__copyright--item">
            <address class="info__link">
              서울시 강남구 테헤란로 152 (역삼동 강남파이낸스센터)
            </address>
          </li>
        </ul>
        <div class="info__copyright--txt">
          <address>
            Copyright © eBay Korea LLC All rights reserved.
          </address>
        </div>
      </div>
      <div class="footer__block--info">
        <ul class="info__enterprise">
          <li class="info__enterprise--item">
            <a href="/" class="info__link">
              <img src="@@webRoot/assets/images/footer/footer_logo_ebay.png" alt="이베이">
              <span class="hide">ebay</span>
            </a>
          </li>
          <li class="info__enterprise--item">
            <a href="/" class="info__link">
              <img src="@@webRoot/assets/images/footer/footer_logo_gmarket.png" alt="지마켓">
              <span class="hide">gmarket</span>
            </a>
          </li>
          <li class="info__enterprise--item">
            <a href="/" class="info__link">
              <img src="@@webRoot/assets/images/footer/footer_logo_auction.png" alt="옥션">
              <span class="hide">auction</span>
            </a>
          </li>
          <li class="info__enterprise--item">
            <a href="/" class="info__link">
              <img src="@@webRoot/assets/images/footer/footer_logo_g9.png" alt="g9">
              <span class="hide">g9</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>