<div class="navigation--container">
  <div class="navigation__inner">
    <div class="swiper-container free-swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">HOME</div>
         <div class="swiper-slide">NEW</div>
        <div class="swiper-slide">기획전</div>
        <div class="swiper-slide">쇼핑랭킹</div>
        <div class="swiper-slide">사용후기</div>
        <div class="swiper-slide">타임딜</div>
        <div class="swiper-slide">맞춤찾기</div>
      </div>
    </div>
  </div>
</div>