<div class="layout-bottommenu layout-bottommenu--basic">
  <ul class="bottommenu__list unit-flex">
    <li class="bottommenu__item">
      <button type="button" class="button bottommenu__button button--menu">
        <i class="icon">
          <span class="sprite-icon sprite-icon-bottom-menu"></span>
        </i>
        <span class="text">전체메뉴</span>
      </button>
    </li>
    <li class="bottommenu__item">
      <button type="button" class="button bottommenu__button">
        <i class="icon">
          <span class="sprite-icon sprite-icon-bottom-user"></span>
        </i>
        <span class="text">마이페이지</span>
      </button>
    </li>
    <li class="bottommenu__item bottommenu__item--home">
      <a href="@@webRoot/index.html" class="button bottommenu__button">
        <i class="icon">
          <span class="sprite-icon sprite-icon-bottom-home"></span>
        </i>
        <span class="text">홈</span>
      </a>
    </li>
    <li class="bottommenu__item">
      <button type="button" class="button bottommenu__button">
        <i class="icon">
          <span class="sprite-icon sprite-icon-bottom-search"></span>
        </i>
        <span class="text">검색</span>
      </button>
    </li>
    <li class="bottommenu__item">
      <button type="button" class="button bottommenu__button">
        <i class="icon">
          <span class="sprite-icon sprite-icon-bottom-recent"></span>
        </i>
        <span class="text">최근본상품</span>
      </button>
    </li>
  </ul>
</div>