<div class="layout-bottommenu layout-bottommenu--vip">
  <ul class="bottommenu__list unit-flex">
    <li class="bottommenu__item">
      <button type="button" class="button bottommenu__button button--menu button--menu--cart">
        <i class="icon">
          <span class="sprite-icon sprite-icon-shopping_bag"></span>
        </i>
      </button>
    </li>
    <li class="bottommenu__item">
      <button type="button" class="button bottommenu__button button--menu button--menu--order">
        구매하기
      </button>
    </li>
  </ul>
</div>