<div class="aside_container">
  <div class="container">
    <div class="func_btn">
      <a class="ico_link" href="">
        <div class="ico_thumb">
          <img src="@@webRoot/assets/images/aside/ico_aside_login.jpg" alt="">
        </div>
        <p class="ico_btn--title">LOGIN</p>
      </a>
    </div>
    <div class="today_view--container">
      <div class="today_view--title">
        <span class="today_view--txt">오늘본상품</span>
        <span class="tody_view--count">6</span>
      </div>
      <div class="today_view--list">
        <!--swiper-->
        <div class="swiper-container vertical-swiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <a href="">
                <img src="@@webRoot/assets/images/aside/ico_aside_item.png" alt="">
              </a>
            </div>
            <div class="swiper-slide">
              <a href="">
                <img src="@@webRoot/assets/images/aside/ico_aside_item.png" alt="">
              </a>
            </div>
            <div class="swiper-slide">
              <a href="">
                <img src="@@webRoot/assets/images/aside/ico_aside_item.png" alt="">
              </a>
            </div>
            <div class="swiper-slide">
              <a href="">
                <img src="@@webRoot/assets/images/aside/ico_aside_item.png" alt="">
              </a>
            </div>
            <div class="swiper-slide">
              <a href="">
                <img src="@@webRoot/assets/images/aside/ico_aside_item.png" alt="">
              </a>
            </div>
          </div>

        </div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
        <!--//swiper-->
      </div>
    </div>
    <div class="aside_btn ">
      <a class="module_link" href="">마일리지 몰</a>
    </div>
    <div class="aside_btn top">
      <a class="module_link" href="">TOP <img src="@@webRoot/assets/images/aside/ico_aside_top.png"></a>
    </div>
    <div class="aside_btn sns">
      <a class="aside_sns fb" href=""></a>
      <a class="aside_sns instar" href=""></a>
      <a class="aside_sns what" href=""></a>
      <!-- <p class="aside_sns fb">
        <img src="@@webRoot/assets/images/aside/ico_aside_fb.jpg" alt="">
      </p>
      <p class="aside_sns instar">
        <img src="@@webRoot/assets/images/aside/ico_aside_instar.jpg" alt="">
      </p>
      <p class="aside_sns what">
        <img src="@@webRoot/assets/images/aside/ico_aside_what.jpg" alt="">
      </p> -->
    </div>

  </div>
</div>