@import '../../components/fonts/index.less';
@import '../../components/sprites/sprite-icon.less';

@medium: 500;
@bold: 600;
@regular: 300;

// .check_bar {
//   position: absolute;
//   top: 0;
//   left: 0;
//   width: 0;
//   height: 100%;
//   background: #3c67e1;
//   border-radius: 50px;
//   z-index: -1;
//   transition: width 0.2s ease-in-out;

//   &.on {
//     width: 100%;
//   }
// }
//check_bar

.sprite-icon {
  display: block;
}

.__link {
  display: block;
}
//LINK CSS

.main {
  margin: 0 auto;
  max-width: 1920px;
  width: 100%;
}

.main__section {
  position: relative;
  width: 100%;

  & ~ & {
    padding-top: 130px;
    padding-bottom: 130px;
  }

  &.main__section--pure {
    padding: inherit;
  }
}

.main__section--inner {
  margin: 0 auto;
  width: 1200px;
}

//main css

.section__header {
  text-align: center;
  font-size: 56px;
  // line-height: 40px;
  line-height: 62px;
  letter-spacing: -0.075em;
}
.section__body {
  margin-top: 60px;
}

.section__body--flex {
  display: flex;
  justify-content: space-between;
}

.section__list {
  position: relative;
  width: 100%;

  &.section__list--row {
    display: flex;
    justify-content: space-between;
  }
  &.section__list--column {
    display: flex;
    flex-direction: column;
  }
  .section__list--item {
    width: 370px;
    margin-right: 46px;
  }
}
//section css

.sprite-icon-play {
  cursor: pointer;
  opacity: 0.7;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.item_thumb {
  width: 100%;
  img {
    display: block;
    width: 100%;
  }
}

.item_info {
  margin-top: 50px;
  text-align: center;
}
.item_info__title {
  font-family: 'Noto Sans KR';
  font-weight: @medium;
  font-size: 30px;
  line-height: 35px;
  letter-spacing: -0.06em;
}
.item_info__desc {
  font-family: 'Noto Sans KR';
  font-weight: @regular;
  margin-top: 25px;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: -0.04em;
  color: #555555;
}

.link__box {
  width: 168px;
}

.link {
  // padding: 21px 0 20px;
  padding-top: 35px;
  display: block;
  // width: 168px;
  font-family: 'Noto Sans KR';
  font-size: 20px;
  line-height: 11.5px;
  letter-spacing: -0.04em;
  text-align: center;
  border-radius: 50px;
}
.link__color--type01 {
  padding-top: 25px;
  height: 60px;
  box-sizing: border-box;
  border-width: 1px;
  background: #3c67e1;
  color: #fff;
}
.link__color--type02 {
  box-sizing: border-box;
  border-width: 1px;
  background: #1841b2;
  color: #fff;
}

.link__color--type03 {
  box-sizing: border-box;
  border-width: 1px;
  background: #000;
  color: #fff;
}
//link css

.main__section--visual {
  .cont {
    position: absolute;
    top: 191px;
    left: 360px;
    width: 600px;
  }
  .title,
  .desc,
  .link {
    color: #fff;
    font-family: 'Noto Sans KR';
  }

  .title {
    font-size: 65px;
    line-height: 86px;
    letter-spacing: -0.02em;
    font-weight: @bold;
  }
  .desc {
    margin-top: 17px;
    font-size: 24px;
    line-height: 38px;
    letter-spacing: -0.03em;
    font-weight: @regular;
  }
  .desc + .link__box {
    margin-top: 62px;
  }
}

.main__section--introduce {
  .section__list--item {
    margin-right: 0;
  }
}

.main__section--reason {
  background-color: #323c57;
  .section__header {
    color: #fff;
  }
  .__video {
    position: relative;
    display: block;
    width: 100%;

    img {
      display: block;
      margin: 0 auto;
    }
  }
  .__img {
    text-align: center;
  }

  .reason__txt {
    margin: 126px 0 56px;
    text-align: center;
    font-size: 26px;
    line-height: 34px;
    letter-spacing: -0.04em;
    color: #fff;
    font-weight: @regular;
  }

  .section__list {
    margin-top: 80px;
  }
  .section__list--item {
    margin-right: 0;
  }

  .item_info {
    position: relative;
    margin-top: 20px;
    // padding-top: 60px;
    height: 292px;
    background: #202842;
    border-radius: 20px;

    &:after {
      content: '';
      position: absolute;
      top: -20px;
      left: 50%;
      transform: translateX(-50%);
      width: 40px;
      height: 40px;
      background: url('../images/main/section05/check.png') no-repeat 50% 50%;
    }
  }
  .item_info__title {
    padding-top: 60px;
    font-size: 26px;
    line-height: 38px;
    letter-spacing: -0.075em;
    color: #fff;
  }
  .item_info__desc {
    font-size: 18px;
    font-weight: @regular;
    line-height: 30px;
    letter-spacing: -0.04em;
    color: #fff;
  }
}

.main__section--strategy {
  .section__body--article {
    flex: 1;
    // width: 50%;

    // &:first-child {
    //   padding-right: 60px;
    // }
  }

  .section__body--article--left {
    width: 480px;

    .section__list {
      width: 480px;
      border-top: 1px solid #f0f0f0;
      border-bottom: 1px solid #f0f0f0;
    }

    .section__list--item {
      position: relative;
      cursor: pointer;
      width: 100%;
      margin-right: 0;
      border-bottom: 1px solid #f0f0f0;
      display: flex;

      &.on {
        background: #3c67e1;
        border-radius: 15px;

        .item_info__title {
          font-size: 24px;
          line-height: 90px;
          letter-spacing: -0.075em;
          color: #fff;
          font-weight: @regular;
        }
      }
    }

    .section__list--item:last-child {
      border-bottom: none;
    }

    .item_info__title {
      width: 100%;
      font-size: 24px;
      line-height: 90px;
      letter-spacing: -0.075em;
      color: #555555;
      font-weight: @regular;
    }

    .sprite-icon {
      align-self: center;
      margin-left: 30px;
      margin-right: 16px;
    }
  }

  .section__body--article--right {
    width: 660px;
    // position: relative;
    background: #f4f5f7;
    border-radius: 20px;
    // height: 630px;
    padding: 60px;

    .section__list--absolute {
      position: relative;
      height: 100%;
    }
    .section__list--item {
      display: none;
      position: absolute;
      top: 0;
      left: 0;
      margin-right: 0;
      width: inherit;
      background: #f4f5f7;

      &.on {
        display: block;
      }
    }
    .strategy__desc {
      display: block;
      font-family: 'Noto Sans KR';
      font-size: 20px;
      font-weight: @regular;
      line-height: 32px;
      letter-spacing: -0.04em;
      color: #555555;
      margin-bottom: 36px;
      max-height: 320px;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .strategy__container--btn {
      display: flex;
      // justify-content: ;
    }
    .strategy__btn {
      border-radius: 20px;
      display: block;
      margin-right: 15px;
      width: 170px;
      height: 160px;
      background: #fff;
      text-align: center;

      &:last-child {
        margin-right: 0;
      }

      // .on {
      //   background: #3c67e1;
      // }

      &:hover {
        background: #3c67e1;
        .item_info__thumb {
          background-repeat: no-repeat;
          background-position: 50% 50%;

          &.item_info__thumb--01 {
            background: url('../images/main/section04/section04_btn01__active.png');
          }
          &.item_info__thumb--02 {
            background: url('../images/main/section04/section04_btn02__active.png');
          }
          &.item_info__thumb--03 {
            background: url('../images/main/section04/section04_btn03__active.png');
          }
        }

        p {
          color: #fff;
        }
      }
    }

    .item_info__thumb {
      margin: 30px auto 0;
      display: block;
      width: 60px;
      height: 60px;
      background: url('../images/main/section04/section04_btn01.png');
      background-repeat: no-repeat;
      background-position: 50% 50%;
      text-indent: -99999px;

      &.item_info__thumb--02 {
        background: url('../images/main/section04/section04_btn02.png');
      }
      &.item_info__thumb--03 {
        background: url('../images/main/section04/section04_btn03.png');
      }
    }
    .item_info__title {
      // margin-top: 20px;
      font-size: 20px;
      font-weight: @medium;
      line-height: 28px;
      letter-spacing: -0.03em;
      color: #3c67e1;
    }
  }

  .link__box {
    margin: 60px auto 0;
    width: 404px;
  }
  .link {
    position: relative;
    height: 78px;
    // padding: 27px 0 28px;
    font-size: 24px;

    &:after {
      content: '';
      display: inline-block;
      margin-left: 19px;
      width: 40px;
      height: 11px;
      background: url('../images/main/section04/btn_arrow01.png') no-repeat 50% 50%;
    }
  }
} //strategy

//sow
.main__section--sow {
  background: #f4f5f7;

  .swiper-container__card--3 {
    margin-top: 70px;

    .swiper-slide {
      opacity: 0.5;
      width: 840px;
    }
    .swiper-slide-active {
      opacity: 1;
    }
  }

  .item_thumb {
    position: relative;
  }

  .item_info {
    margin-top: 36px;
  }
  .item_info__title {
    font-size: 40px;
    font-weight: @bold;
    line-height: 48px;
    letter-spacing: -0.06em;
    color: #333333;
  }
  .item_info__desc {
    margin-top: 20px;
    font-size: 22px;
    font-family: 'Noto Sans KR';
    line-height: 32px;
    letter-spacing: -0.04em;
    color: #555555;
  }

  .link__box {
    margin: 55px auto 0;
    width: 286px;
  }
  .link__color--type03 {
    height: 60px;
    padding-top: 25px;
    letter-spacing: -0.03em;
  }
}

//location
.main__section--location {
  .section__body {
    padding-top: 69px;
    padding-bottom: 70px;
    margin-top: 0;
  }
  .section__list--item {
    margin-right: 0;
    width: inherit;

    a {
      position: relative;
      // margin: 21px 0 20px;
      padding: 0;

      &:after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        width: 1px;
        height: 100%;
        background: #f4f4f4;
      }
    }

    //마지막 짝대기 없애기
    &:last-child a:after {
      display: none;
    }
  }
  .item_thumb {
    margin: 0 auto;
    width: 130px;
    height: 130px;

    img {
      width: 100%;
    }
  }
  .item_info__title {
    font-size: 18px;
    font-weight: @regular;
    line-height: 30px;
    letter-spacing: -0.04em;
    color: #555555;
  }
}
