<div class="layout-header">
  <div class="layout-header__inner">
    <div class="layout-header__container">

      <div class="layout-header__item">
        <a class="layout-header__link" href="#">
          <img src="@@webRoot/assets/images/header/ico_ham.png" alt="">
        </a>
      </div>
      <div class="layout-header__item">
        <a class="layout-header__link" href="#">
          <img src="@@webRoot/assets/images/header/ico_logo.jpg" alt="">
        </a>
      </div>
      <div class="layout-header__item">
        <a class="layout-header__link" href="#">
          <img src="@@webRoot/assets/images/header/ico_band_logo.png" alt="">
        </a>
      </div>

    </div>
  </div>
</div>