<li class="swiper-slide">
  <div class="slide-text">
    <div class="slide-thumb">
      <img src="@@imgSrc" width="100%">
    </div>
    <div class="slide-info">
      <p class="slide-category" data-swiper-parallax="-200" data-swiper-parallax-duration="800" data-swiper-parallax-opacity="0">
        @@category
      </p>
      <p class="slide-title" data-swiper-parallax="-300" data-swiper-parallax-duration="800" data-swiper-parallax-opacity="0">
        @@title
      </p>
    </div>
  </div>
</li>