<li class="swiper-slide">
  <div class="slide-text">
    <div class="slide-thumb">
      <img src="@@imgSrc" width="100%">
    </div>
    <div class="slide-info">
      @@if(context.name) {
        <p class="slide-name" data-swiper-parallax="-200" data-swiper-parallax-duration="800" data-swiper-parallax-opacity="0">
          @@name
        </p>
      }
      <p class="slide-price" data-swiper-parallax="-400" data-swiper-parallax-duration="800" data-swiper-parallax-opacity="0">
        @@price
      </p>
    </div>
  </div>
</li>