<div class="swiper-slide">
  <div class="video-container video-container--full">
    <video
      src="@@videoUrl"
      class="video"
      muted
      loop
      playsinline
      webkit-playsinline
      preload="true"
    ></video>
    
    <div class="video__cover" @@if(context.cover) {style="background-image:url(@@cover)"}></div>
    
    <div class="video__controller">
      <button type="button" class="button-video-play">
        <i class="sprite-icon sprite-icon-play-big">Play</i>
        <i class="sprite-icon sprite-icon-pause-big">Pause</i>
      </button>
      <div class="video__user">
        <div class="user__thumb"><img src="@@webRoot/assets/images/main/module08/user-thumb.png" width="38"></div>
        <div class="user__info">
          <p class="user__title">
            캠핑템 강추!! 일상생활에서도 신기 좋은 신발 추천! #아웃도어 #일상
          </p>
          <div class="user__etc">
            <em>ilovecamp79</em>
            <span>조회수 4,097</span>
            <span>9시간 전</span>
          </div>
        </div>
        <button type="button" class="button">
          <i class="icon sprite-icon sprite-icon-more"></i>
        </button>
      </div>
    </div>
  </div>
  <div class="banner-container banner-container--prd" data-sal="slide-up" style="--sal-duration: 1s; --sal-delay: 1.5s;">
    <div class="banner-wrapper">
      @@loop('../banner/prd.html', 
        [
          { 
            "imgSrc": "@@webRoot/assets/images/main/module08/item01.jpg",
            "name": "조거 케이지",
            "price": "129,000" 
          }
        ]
      )
    </div>
  </div>
</div>