<div class="layout-footer">
  <div class="layout-footer_inner">
    <div class="layout-footer-sns">
      <div class="layout-footer__container">
        <li class="layout-footer__item">
          <a class="layout-footer__link" href="#">
            <img src="@@webRoot/assets/images/footer/ico_sns_fb.png" alt="">
          </a>
        </li>
        <li class="layout-footer__item">
          <a class="layout-footer__link" href="#">
            <img src="@@webRoot/assets/images/footer/ico_sns_instar.png" alt="">
          </a>
        </li>
        <li class="layout-footer__item">
          <a class="layout-footer__link" href="#">
            <img src="@@webRoot/assets/images/footer/ico_sns_tw.png" alt="">
          </a>
        </li>
        <li class="layout-footer__item">
          <a class="layout-footer__link" href="#">
            <img src="@@webRoot/assets/images/footer/ico_sns_what.png" alt="">
          </a>
        </li>
      </div>
    </div>
    <div class="layout-footer__infoBox">
      <div class="layout-footer__container container2">
        <li class="layout-footer__item">
          <a class="layout-footer__link" href="#">
              회원약관
          </a>
        </li>
        <li class="layout-footer__item">
          <a class="layout-footer__link" href="#">
              개인정보 처리방침
          </a>
        </li>
        <li class="layout-footer__item">
          <a class="layout-footer__link" href="#">
              멤버십 이용약관
          </a>
        </li>
      </div>
      <div class="layout-footer__logo">
        <a class="layout-footer__link" href="#">
          <img src="@@webRoot/assets/images/footer/ico_footer_logo.jpg" alt="">
        </a>
      </div>

      <div class="layout-footer__info">
        <span class="layout-footer__info--desc">
          대표 : 이세훈 | 전화 : 080-080-4936
        </span>
        <span class="layout-footer__info--desc">
          주소 : 서울시 서초구 서초대로 38길 12 마제스타시티타워 13층
        </span>
        <span class="layout-footer__info--desc">
          사업자등록번호 : 119-81-34685  <a class="confirm" href="#">사업자정보확인</a>
        </span>
        <span class="layout-footer__info--desc">
          통신판매 신고번호 : 제2002-00018호
        </span>
      
      </div>
      <span class="layout-footer__info--desc copyright">
          Copyright (C) ABLEC&C all right reserved
      </span>
    </div>
    <!-- <div class="layout-footer__container">


      <div class="layout-header__item">
        <a class="layout-header__link" href="#">
          <img src="@@webRoot/assets/images/header/ico_ham.png" alt="">
        </a>
      </div>
      <div class="layout-header__item">
        <a class="layout-header__link" href="#">
          <img src="@@webRoot/assets/images/header/ico_logo.jpg" alt="">
        </a>
      </div>
      <div class="layout-header__item">
        <a class="layout-header__link" href="#">
          <img src="@@webRoot/assets/images/header/ico_band_logo.png" alt="">
        </a>
      </div>

    </div> -->
  </div>
</div>