<!--header-->
<header class="header">
  <div class="header_inner">
    <!--header, footer 공통 넓이-->
    <div class="header__block">
      <h1 class="tit_logo">
        <a class="__link" href="/">
          <img src="@@webRoot/assets/images/header/ebay_logo.png" alt="ebay_logo">
          <span class="hide">ebay</span>
        </a>
      </h1>

      <nav class="header_gnb">
        <h2 class="hide">이베이 메인 메뉴</h2>
        <ul class="header_list">
          <li class="header_list__list--item">
            <a href="/" class="link_gnb">광고 안내
              <!-- <span class="line"></span> -->
            </a>
            <div class="header_list__sub-box">
              <ul class="list_sub type01">
                <li class="list_sub__item">
                  <a href="/" class="link_gnb">
                    파워클릭
                  </a>
                </li>
                <li class="list_sub__item">
                  <a href="/" class="link_gnb">
                    리마케팅
                  </a>
                </li>
                <li class="list_sub__item">
                  <a href="/" class="link_gnb">
                    부가서비스
                  </a>
                </li>
                <li class="list_sub__item">
                  <a href="/" class="link_gnb">
                    판매자 광고센터
                  </a>
                </li>
                <li class="list_sub__item">
                  <a href="/" class="link_gnb">
                    디스플레이광고
                  </a>
                </li>
                <li class="list_sub__item">
                  <a href="/" class="link_gnb">
                    EDN+
                  </a>
                </li>
              </ul>
            </div>
          </li>
          <li class="header_list__list--item">
            <a href="/" class="link_gnb">비즈니스자료</a>
            <div class="header_list__sub-box">
              <ul class="list_sub type02">
                <li class="list_sub__item">
                  <a href="/" class="link_gnb">
                    성공사례
                  </a>
                </li>
                <li class="list_sub__item">
                  <a href="/" class="link_gnb">
                    참고자료
                  </a>
                </li>
              </ul>
            </div>
          </li>
          <li class="header_list__list--item">
            <a href="/" class="link_gnb">광고 시작</a>
          </li>
          <li class="header_list__list--item">
            <a href="/" class="link_gnb">광고 지원</a>
          </li>
        </ul>
      </nav>

      <strong class="hide">유틸리티영역입니다.</strong>
      <ul class="header_util__list">
        <li class="header_util__list--item">
          <a href="/" class="link_util">
            Home
          </a>
        </li>
        <li class="header_util__list--item">
          <a href="/" class="link_util">
            Sitemap
          </a>
        </li>
        <li class="header_util__list--item">
          <a href="/" class="link_util">
            Contact us
          </a>
        </li>
      </ul>
    </div>
  </div>
  <!--//header_width-->
</header>
<!--//header-->